@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: ""; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  color: #000;
  font-size: 14px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  body._lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: transparent;
  position: relative;
  z-index: 2; }

._container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 1264px) {
    ._container {
      max-width: 970px; } }
  @media (max-width: 991.98px) {
    ._container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    ._container {
      max-width: none;
      padding: 0 10px; } }

.btn {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  background: rgba(17, 17, 17, 0.2);
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  white-space: nowrap;
  transition: all 0.3s ease 0s; }
  @media (min-width: 992px) {
    .btn:hover {
      background: #FFFFFF;
      backdrop-filter: blur(0);
      color: #000000; } }
  .btn._fw {
    width: 100%; }

.select {
  position: relative; }
  .select__item {
    position: relative; }
  .select__title {
    color: #000;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px; }
    @media (max-width: 1024px) {
      .select__title {
        font-size: 18px; } }
  .select__value {
    display: flex;
    font-size: 14px;
    height: 30px;
    padding: 0px 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse; }
    .select__value span {
      height: 1em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .select__value:before {
      content: "";
      display: inline-block;
      transition: all 0.3s ease 0s;
      width: 11px;
      height: 7px;
      background: url("../img/icons/select.svg") center/100% no-repeat; }
  .select__input {
    width: 100%;
    background-color: transparent;
    height: 100%; }
  .select__options {
    color: #000;
    display: none;
    position: absolute;
    top: 29px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    font-size: 14px;
    padding: 10px 0px 5px 0px; }
    @media (max-width: 1024px) {
      .select__options {
        font-size: 18px; } }
  .select__option {
    cursor: pointer;
    padding: 5px 15px;
    margin: 0px 0px 0px 0px; }
    @media (min-width: 992px) {
      .select__option:hover {
        background: #d9d9d9; } }
  .select._active {
    z-index: 5; }
    .select._active .select__value:before {
      transform: rotate(-180deg); }
    .select._active .select__options {
      display: block; }

.lang {
  display: flex;
  padding: 0 28px;
  height: 40px;
  position: relative; }
  .lang__btn {
    display: none; }
  .lang ul {
    display: flex;
    align-items: center; }
    .lang ul li + li {
      margin-left: 28px; }
    .lang ul li a {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.7);
      transition: all 0.3s ease-in 0s; }
      .lang ul li a:hover {
        color: #fff; }
      .lang ul li a._active {
        color: #fff;
        font-weight: 700; }
  @media (min-width: 1024px) {
    .lang {
      padding: 0;
      height: 40px; }
      .lang__btn {
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 5px 24px 5px 5px;
        position: relative; }
        .lang__btn:after {
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          top: 10px;
          right: 0;
          background: url("../img/icons/caret.svg") center no-repeat; }
      .lang ul {
        width: 40px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease 0s;
        position: absolute;
        bottom: 52px;
        right: 0;
        background: #da002b;
        padding: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column; }
        .lang ul li {
          display: block;
          width: 100%;
          height: 22px; }
          .lang ul li + li {
            margin-left: 0;
            margin-top: 14px; }
          .lang ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 22px; }
      .lang._active ul {
        opacity: 1;
        visibility: visible;
        bottom: 42px; }
      .lang._active .lang__btn:after {
        transform: rotate(180deg); } }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.checkbox {
  position: relative; }
  .checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .checkbox__input:checked + .checkbox__text:before {
      background: #fff url("../img/icons/check.svg") center no-repeat; }
  .checkbox__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer; }
    .checkbox__text:before {
      content: "";
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #fff;
      border: 1px solid #a7a9ac; }
  .checkbox a {
    color: #fff;
    text-decoration: underline; }
    @media (min-width: 992px) {
      .checkbox a:hover {
        text-decoration: none; } }
  .checkbox._error .checkbox__text:before {
    border: 1px solid #ee1212; }

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .options__item {
    position: relative;
    cursor: pointer; }
  .options__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    left: 0;
    top: 0;
    visibility: hidden; }
    .options__input:checked + .options__text:after {
      transform: scale(1); }
  .options__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16); }
    .options__text:before {
      content: "";
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      border-radius: 50%;
      width: 20px;
      height: 18px;
      background: #fff;
      border: 1px solid #a7a9ac; }
    .options__text:after {
      content: "";
      transition: all 0.3s ease 0s;
      transform: scale(0);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #77243a;
      position: absolute;
      left: 5px;
      top: 4px; }

.rating-block {
  display: table;
  font-size: 0; }

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .rating.edit .star {
    cursor: pointer; }
  .rating .star {
    width: 17px;
    height: 14px;
    display: inline-block;
    position: relative;
    z-index: 3; }

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%; }

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%; }

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle; }

.quantity {
  width: 88px;
  height: 40px;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45); }
  .quantity__button {
    flex: 0 0 30px;
    position: relative;
    cursor: pointer; }
    .quantity__button::before, .quantity__button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.3s ease 0s;
      margin: 0px 0px 0px -4.5px;
      background-color: #a6a6a6;
      width: 9px;
      height: 1px; }
    @media (min-width: 1024px) {
      .quantity__button:hover::before, .quantity__button:hover::after {
        background-color: rgba(0, 0, 0, 0.5); } }
    .quantity__button_plus::before {
      transform: rotate(-90deg); }
  .quantity__input {
    flex: 1 1 auto; }
    .quantity__input input {
      height: 100%;
      color: #a6a6a6;
      font-size: 12px;
      width: 100%;
      text-align: center; }

.h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 48px;
  color: #ffffff; }

.h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 24px; }

.row:after {
  display: block;
  content: "";
  clear: both; }

.rub:after {
  content: "₽"; }

ol.counter {
  list-style-type: none;
  counter-reset: item; }
  ol.counter li {
    position: relative;
    padding: 0px 0px 0px 45px; }
    ol.counter li:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
      color: #818181;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 26px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      border: 1px solid #4274bb; }

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis; }

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.table {
  display: table;
  font-size: 0;
  width: 100%; }

.trow {
  display: table-row; }

.cell {
  display: table-cell; }
  .cell.full {
    width: 100%; }

._ibg {
  position: relative; }
  ._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; }

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.moretext {
  overflow: hidden; }

.moretext__more {
  cursor: pointer; }
  .moretext__more span {
    font-style: normal; }
    .moretext__more span:first-child {
      display: block; }
    .moretext__more span:last-child {
      display: none; }
  .moretext__more.active span {
    font-style: normal; }
    .moretext__more.active span:first-child {
      display: none; }
    .moretext__more.active span:last-child {
      display: block; }

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

._tabs-block {
  display: none; }
  ._tabs-block._active {
    display: block; }

.mirror {
  transform: scale(-1, 1); }

.nicescroll-rails {
  z-index: 1000 !important; }

.gm-style-iw-t {
  opacity: 0; }

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important; }
  .baloon button {
    display: none !important; }
  .baloon:after {
    display: none !important; }

.baloon-style {
  display: none; }

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important; }
  .baloon-content.gm-style-iw > .gm-style-iw-d {
    overflow: hidden !important;
    max-width: none !important; }
  .baloon-content.gm-style-iw:after {
    display: none !important; }

.baloon-close {
  top: 18px !important; }

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000; }
  ._custom-scroll__line {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%; }

.popup {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden; }
  .popup::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s; }
  .popup.show {
    visibility: visible; }
    .popup.show::before {
      opacity: 1; }
    .popup.show .popup__body {
      transform: scale(1); }
  .popup._active {
    visibility: visible; }
    .popup._active::before {
      opacity: 1; }
    .popup._active .popup__body {
      transition: all 0.3s ease 0.2s;
      transform: scale(1); }
  .popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .popup__body {
    transform: scale(0);
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 50px;
    width: 100%;
    max-width: 800px; }
  .popup__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 30;
    background: url("../img/icons/close.svg") 0 0 no-repeat; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0; }
  .header__logo svg {
    width: 101.27px;
    height: 30px;
    fill: #ffffff; }
  .header__geo, .header__phone {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    transition: all 0.3s ease 0s; }
    .header__geo svg, .header__phone svg {
      width: 20px;
      height: 20px;
      fill: #ffffff; }
    .header__geo:hover, .header__phone:hover {
      opacity: 0.7; }
  .header__phone {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff; }

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50; }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0; }
  .footer__copy {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 19px; }
    .footer__copy a {
      position: relative;
      color: #FFFFFF;
      transition: all 0.3s ease 0s;
      color: #FFFFFF; }
      .footer__copy a:hover {
        opacity: 0.7; }

.page {
  flex: 1 1 auto; }

html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%; }

.noscroll {
  position: fixed;
  overflow-y: scroll; }

#topbar {
  height: 40px;
  background: white;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-right: 10px;
  display: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

.new-logo {
  font-size: 20pt;
  font-weight: 300;
  color: #7D7D7D;
  padding-top: 8%;
  letter-spacing: 1px;
  padding-bottom: 1px; }

.new-logo span {
  color: #B13C3C;
  font-weight: 500;
  padding-right: 2px;
  font-size: 20pt; }

#topbar .new-logo {
  padding-top: 0px;
  font-size: 13pt; }

#topbar .new-logo span {
  color: #222222;
  font-size: 13pt; }

#topbar a {
  text-decoration: none; }

.line {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; }

#slide1 .line {
  height: 20%; }

.line div {
  height: 100%;
  width: 4px;
  background: #ddd;
  margin: 0 auto; }

#logo {
  float: left;
  width: 300px;
  z-index: 999;
  padding: 9px 9px 0 25px;
  box-sizing: border-box;
  transition: all .2s ease-in-out; }

#logo:hover {
  background: #F2F2F2; }

#author {
  position: fixed;
  z-index: 999;
  right: 0;
  box-sizing: border-box;
  padding: 2px 15px;
  height: 40px;
  transition: all .2s ease-in-out; }

#author div {
  color: #040707;
  font-weight: 300;
  font-size: 10pt;
  text-align: center;
  margin-top: 9px; }

#author:hover {
  background: #F2F2F2; }

#porschelogo {
  padding: 0px; }

#porsche-logo {
  z-index: 2;
  position: relative; }

.volume {
  color: #717171;
  font-weight: 300; }

.enjoy {
  display: none;
  color: #717171; }

.navigation {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  margin-top: -215px;
  text-align: center;
  box-sizing: border-box; }

.navigation li {
  color: rgba(51, 51, 51, 0.65) !important;
  display: block;
  padding: 0 10px 0 28px;
  line-height: 37px;
  font-weight: 600;
  border-bottom: 2px solid rgba(51, 51, 51, 0.65);
  text-align: left;
  width: 53px;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.navigation li span {
  font-size: 70%; }

.navigation li.active {
  /*font-size:25px;

  width:100px!important;
  line-height: 45px !important; */ }

.navigation li:hover {
  /*padding-left: 24px;
  font-size: 100%;
  line-height: 37px !important; */ }

.navigation li.dark-menu {
  color: rgba(255, 255, 255, 0.95) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.12) !important;
  text-shadow: 0 1px 1px black; }

.navigation li.active.dark-menu {
  color: white !important;
  /*border-left: 4px solid #B13C3C; */
  padding-left: 26px;
  font-size: 13pt;
  border-bottom: 2px solid white !important; }

.navigation li.dark-menu:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.52) !important; }

.navigation li.light-menu {
  border-bottom: 2px solid rgba(51, 51, 51, 0.12) !important; }

.navigation li.active.light-menu {
  color: #333333 !important;
  /*border-left: 4px solid #B13C3C !important; */
  padding-left: 26px;
  font-size: 13pt;
  border-bottom: 2px solid #333333 !important; }

.navigation li.light-menu:hover {
  border-bottom: 2px solid rgba(51, 51, 51, 0.52) !important; }

.navigation .noborder {
  border: none !important;
  padding-left: 27px; }

.navigation li.dark-menu.noborder:hover, .navigation li.light-menu.noborder:hover {
  border-left: none !important;
  padding-left: 27px; }

li.noborder.light-menu {
  display: none !important;
  border-bottom: 0 !important; }

.menulogo:hover {
  transform: scale(1.1); }

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  /*-webkit-box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
  box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3); */ }

.launchscreen {
  width: 28%;
  top: 30%;
  position: relative; }

.wrapper.logo {
  text-align: center;
  height: 25%;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0; }

/*a.button0{
	cursor: pointer;
}
.button {
    opacity: 0.4;
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 10;
    bottom: 10px;
	left: 48%;
	background-image: url(../images/icons/scroll-white.svg);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	cursor: pointer;

}

.button.button-active {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 10;
	bottom: 0px;
	left: 48%;
	background-color: #333333;
	background-image: url(../images/scroll-white.svg);
}

.button:hover {
	background-image: url(../images/icons/scroll-red.svg);
	opacity: 1;

}
*/
.landingpage-interaction {
  bottom: 130px;
  margin: auto;
  position: absolute; }
  .landingpage-interaction button {
    border: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background: transparent; }
  .landingpage-interaction .btn {
    background: #da002b !important;
    cursor: pointer; }
    .landingpage-interaction .btn:hover {
      opacity: 0.7; }

input#round {
  background: none; }

a.button0.disabled {
  pointer-events: none; }

.blink {
  animation: blink 4s steps(40, start) infinite;
  transition: all .2s ease-in-out; }

@keyframes blink {
  0% {
    color: #717171; }
  50% {
    color: rgba(113, 113, 113, 0.2); } }
@-webkit-keyframes blink {
  0% {
    color: #717171; }
  50% {
    color: rgba(113, 113, 113, 0.2); } }
.clickon {
  display: none;
  color: #B13C3C;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer; }

.clickon .arrow {
  margin-top: 10px;
  font-size: 11px;
  color: #717171; }

.clickon:hover {
  color: black; }

.clickon .arrow.left {
  transform: scale(-1, 1);
  display: inline-block; }

input#round.blink:hover {
  -webkit-animation: none;
  animation: none; }

input#round:hover {
  transition: all .2s ease-in-out;
  color: #FEFEFE;
  background-color: #7e7c7a; }

input#round:hover, input#round:active, input#round:visited, input#round:focus {
  background-color: #B13C3C;
  outline: none;
  color: white; }

#floating-social {
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 999; }

#mute {
  display: none;
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 999;
  padding: 5px 7px 5px 7px;
  background: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
  transition: all .2s ease-in-out; }

#mute:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9; }

#mute.muted {
  background: #B13C3C;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=100);
  opacity: 1; }

#mute div {
  height: 30px;
  width: 30px;
  background: url(../img/icons/mute_off.png) center center no-repeat; }

#mute .tooltiptext {
  visibility: hidden;
  width: 330px;
  color: #080808;
  background-color: #e5e4e9;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 140%;
  border: 2px solid black; }

#mute:hover .tooltiptext {
  visibility: visible; }

#mute .tooltiptext .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
  position: absolute;
  left: -10px; }

#mute.muted .tooltiptext {
  visibility: hidden; }

/*SLIDES*/
#slide0 {
  background: url(../img/bg1.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#slide1 {
  background: url(../img/bg2.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#slide2 {
  background: url(../img/bg3.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#slide3 {
  background: url(../img/bg4.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#slide4 {
  background: url(../img/bg1.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#slide12 {
  background: black; }

/*Other*/
.landingpage {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25); }

.landingpage .porsche-logo {
  text-align: center;
  margin-top: 3%; }

.intro {
  width: 340px;
  display: block;
  padding-top: 22%;
  position: relative;
  z-index: 4;
  color: white; }

.intro .name {
  text-align: center;
  font-size: 20pt;
  color: #B13C3C; }

.intro p {
  margin-bottom: 15px; }

.intro-desc {
  width: 80%;
  text-align: justify;
  font-size: 12pt;
  line-height: 30px;
  margin: 20px auto 0 auto; }

#ferdinand-porsche {
  text-align: center; }

#ferdinand-porsche img {
  border: 4px #ddd solid;
  border-radius: 10px; }

.year {
  width: 52%;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  top: 60px;
  display: none; }

.year-inner {
  font-size: 22pt;
  font-weight: inherit;
  color: white;
  width: 100%;
  margin-top: 10px;
  text-align: center; }

.year-inner span {
  font-size: inherit;
  margin-left: 2px; }

.year hr {
  width: 3%;
  border-style: solid;
  color: #B10909;
  border-width: 1px;
  margin-top: 11px; }

.year hr.dark-line {
  color: #B10909; }

.year-desc {
  color: white;
  width: 100%;
  font-size: 13pt;
  margin-top: 25px;
  text-align: center; }

.year-desc span {
  font-weight: bold; }

.year-shadow {
  text-shadow: 0 0 50px black; }

.dark {
  color: #313131; }

.wh {
  color: white; }

/* Overlay
-------------------------*/
#jpreOverlay {
  background-color: #000;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  filter: alpha(opacity=90);
  opacity: 0.9; }

#jpreSlide {
  font-size: 22px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  display: none; }

#jpreLoader {
  width: 500px;
  top: 68% !important; }

#jpreBar {
  display: none; }

#jprePercentage {
  color: #ccc;
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  top: -100%; }

#about1 {
  width: 100%;
  display: table;
  padding-top: 180px;
  padding-bottom: 70px; }

#about2 {
  width: 100%; }

.about-text {
  margin: 0 auto;
  color: #D8D8D8;
  box-sizing: border-box;
  text-align: center;
  width: 100%; }

.about-text a {
  color: #fff;
  text-decoration: none; }

.about-text p {
  padding-bottom: 25px; }

.about-text p.social {
  padding-bottom: 10px; }

.about-text #copyright {
  margin-left: 23%;
  margin-top: 20px; }

.weblink {
  text-align: center;
  font-size: 40px;
  color: white;
  padding-bottom: 30px; }

.weblink a {
  color: white; }

.weblink a:hover {
  color: #B13C3C; }

.weblink span {
  font-size: 15px;
  text-transform: uppercase;
  color: #D8D8D8; }

.follow {
  text-align: center; }

.about-twitter img {
  width: 35px;
  opacity: 0.8; }

.about-twitter img:hover {
  width: 35px;
  opacity: 1; }

iframe#twitter-widget-1 {
  vertical-align: bottom; }

#dockContainer {
  position: fixed;
  top: 60px;
  left: 6px; }

#jqDock {
  position: relative;
  bottom: 48px; }

.jqDockLabel {
  background: #333;
  color: #fff;
  padding: 3px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

.rotate {
  display: none;
  position: fixed;
  z-index: 999999;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  font-size: 22px;
  padding-top: 200px; }

.rotate img {
  margin-bottom: 10px; }

/* Landscape phone to portrait tablet */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .noscroll {
    position: static;
    overflow-y: auto; }

  .launchscreen {
    width: 70%; }

  .clickon {
    display: none !important; }

  .landingpage {
    padding-top: 10%; }

  .landingpage-interaction {
    margin-top: 0px; }

  .navigation {
    margin-top: 50px;
    top: 0; }

  .navigation li {
    line-height: 25px;
    width: 45px;
    padding-left: 15px;
    font-size: 14px; }

  .navigation li:hover {
    padding-left: 11px;
    line-height: 25px; }

  .navigation li.active, .navigation li.active:hover {
    font-size: 19px !important;
    width: 53px !important;
    line-height: 30px !important; }

  .navigation li.active.dark-menu, .navigation li.active.light-menu {
    padding-left: 11px !important; }

  .menulogo {
    display: none; }

  #mute {
    left: 25px;
    left: auto; }

  .slide {
    background-attachment: scroll; }

  .intro {
    padding-top: 50px;
    text-shadow: 1px 2px 8px black;
    width: 100%; }

  .intro-desc {
    font-size: 20px;
    margin: 0 auto; }

  .year {
    width: 100%;
    top: 60px;
    padding: 0px 13%; }

  .year-inner {
    display: none; }

  .year-desc {
    width: 100%;
    padding-left: 0px;
    border: none;
    font-size: 11pt; }

  .year-desc span {
    font-size: 20px; }

  .weblink a {
    font-size: 25px; } }
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .rotate {
    display: block; } }
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 979px) {
  #mute {
    left: 25px; }

  .navigation {
    margin-top: 60px;
    top: 0; }

  .year {
    width: 70%;
    top: 60px;
    padding: 0px; }

  .about-title {
    float: inherit;
    text-align: left;
    width: auto;
    font-size: 30px;
    line-height: inherit;
    padding-top: 20px; }

  .about-text {
    width: 100%; }

  #about2 .about-text {
    width: 60%;
    margin: 0 auto; }

  .weblink a {
    font-size: 30px; } }
.main-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: progress;
  z-index: 999999;
  overflow: hidden; }
  .main-loader .transform {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff; }
  .main-loader .loader-dots {
    position: relative;
    display: block; }
    .main-loader .loader-dots > div {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: #fff;
      animation: scaling 1.5s ease-in-out infinite; }
      .main-loader .loader-dots > div:nth-child(0) {
        animation-delay: 0s; }
      .main-loader .loader-dots > div:nth-child(1) {
        animation-delay: 0.2s; }
      .main-loader .loader-dots > div:nth-child(2) {
        animation-delay: 0.4s; }
      .main-loader .loader-dots > div:nth-child(3) {
        animation-delay: 0.6s; }
      .main-loader .loader-dots > div:nth-child(4) {
        animation-delay: 0.8s; }
      .main-loader .loader-dots > div:nth-child(5) {
        animation-delay: 1s; }
      .main-loader .loader-dots > div:not(:last-child) {
        margin-bottom: 0.625rem; }

.section-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%; }
  .section-inner .content {
    width: 100%;
    max-width: 620px; }
  .section-inner .btn-links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px; }

#slide0 #attribution_block {
  display: none !important; }

@keyframes scaling {
  0%, 100% {
    transform: scale(0.2);
    background-color: #fbe4e9; }
  40% {
    transform: scale(1);
    background-color: #e8667f; }
  50% {
    transform: scale(1);
    background-color: #da002b; } }

/*# sourceMappingURL=style.css.map */
